<h2>3DUP Touchscreen Temperature Configuration</h2>
<p>Input the domain name of the touchscreen device. This will be local to your network unless you've configured
your firewall.</p>
<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('URL') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.ThreeDUP.url">
        </div>
    </div>
</form>
